<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:insert="~{fragments/header :: header}"></div>
<body>
<style>
  .clickable-div {
     cursor: pointer;
     transition: background-color 0.3s, transform 0.2s;
  }
  .clickable-div:hover {
    background-color: #f8f9fa;
    transform: scale(1.02);
  }
</style>
<div th:replace="~{fragments/header :: navigation}"></div>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.css">
<div class="container mt-5">
  <!-- 프로필 상단 -->
  <div class="d-flex align-items-center mb-4" th:object="${followerList.profilePostUser}">
    <img th:src="@{|/image-print/*{profilePic}|}" class="profile-pic me-2" alt="User Profile Image">
    <div>
      <h5 class="mb-0" th:text="*{username}">jkky98</h5>
      <span class="text-muted">&gt; 팔로우</span>
    </div>
  </div>

  <!-- 팔로잉 정보 -->
  <h2 class="mb-4" th:text="|${followerList.profilePostUser.followerCount}명의 팔로워|">4명을 팔로우 중</h2>

  <!-- 팔로워 리스트 -->
  <div class="list-group" th:object="${followerList.followers}">
    <!-- 팔로잉 항목 -->
    <div th:each="follower : ${followerList.followers}" class="list-group-item d-flex justify-content-between align-items-center clickable-div">
      <div class="d-flex align-items-center" th:data-url="'/@' + ${follower.followerUserUsername} + '/posts'" onclick="navigateTo(this)">
        <img th:src="@{|/image-print/${follower.followerUserProfilePic}|}" class="profile-pic me-2" alt="Profile">
        <div>
          <h6 class="mb-0" th:text="${follower.followerUserUsername}">User Name</h6>
          <span class="text-muted" th:text="'@' + ${follower.followerUserUsername}">@username</span>
          <p class="text-muted small mb-0" th:text="${follower.followerUserDescription}">Description</p>
        </div>
      </div>
    </div>
  </div>
</div>
<script th:inline="javascript">
  function navigateTo(element) {
    const url = element.getAttribute('data-url');
    if (url) {
      window.location.href = url;
    }
  }
</script>
</body>
</html>