<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- Include the header fragment -->
<div th:insert="~{fragments/header :: header}"></div>
<body>
<!-- Include the navigation fragment -->
<div th:insert="~{fragments/header :: navigation}">
</div>
<!-- Include the filter fragment -->
<div th:insert="~{fragments/filter :: filter}"></div>

<!-- Include the card container fragment -->
<div th:insert="~{fragments/homeCardContainer :: homeCardContainer}"></div>

<div>Home</div>

<!-- Bootstrap JS -->
</body>
</html>
