<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- Include the header fragment -->
<div th:insert="~{fragments/header :: header}"></div>
<body>
<!-- Include the navigation fragment -->
<div th:replace="~{fragments/header :: navigation}"></div>
<div class="container">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <div class="form-bg mx-auto text-center">
        <div class="row g-0">
            <div class="col-lg-7 col-md-12 mb-4 p-5">
                <h2 class="login-title">Sign In</h2>
                <p class="desc-text">
                    If you have an account, you can log in using your login information.
                </p>
                <form th:action="@{/login}" method="post" th:object="${loginForm}">

                    <input type="hidden" th:name="redirectURL" th:value="${redirectURL}"/>

                    <div th:if="${#fields.hasGlobalErrors()}" class="alert alert-danger">
                        <p th:each="err : ${#fields.globalErrors()}" th:text="${err}"></p>
                    </div>

                    <div class="mt-4 mb-4">
                        <input type="text" class="form-control" th:field="*{username}" placeholder="Your email" required>
                    </div>

                    <div class="mb-4">
                        <input type="password" class="form-control" th:field="*{password}" placeholder="Your password" required>
                        <div class="text-end mt-1 mb-3">
                            <a href="#" class="forgot me-2">Forgot your password?</a>
                        </div>
                    </div>

                    <button type="submit" class="button login-btn mt-4">Sign In</button>
                </form>

                <div class="separator mt-5">OR</div>
                <div class="row mt-4">
                    <div class="col-4">
                        <a href="" class="alternative-login">
                            <i class="fa-brands fa-google"></i>
                        </a>
                    </div>
                    <div class="col-4">
                        <a href="" class="alternative-login">
                            <i class="fa-brands fa-facebook-f"></i>
                        </a>
                    </div>
                    <div class="col-4">
                        <a href="" class="alternative-login">
                            <i class="fa-brands fa-apple"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-lg-5 col-md-12">
                <div class="register-area p-5">
                    <h2 class="register-title">Register</h2>
                    <p>
                        Don't have an account? You can create an account by clicking on the sign up button.
                    </p>
                    <a href="/signup" class="button register-btn mt-4">Sign Up</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap JS -->
</body>
</html>
