<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:insert="~{fragments/header :: header}">
    <style>
        .settings-container {
            max-width: 800px;
            margin: 50px auto;
        }

        .section-title {
            font-weight: bold;
            margin-bottom: 10px;
        }

        .form-check-input {
            cursor: pointer;
        }
    </style>
</div>
<body>

<form th:action="@{/settings}" method="post" enctype="multipart/form-data">
    <div th:insert="~{fragments/header :: navigation}">
    </div>
    <div class="container settings-container">
        <h1>설정</h1>

        <!-- 프로필 섹션 -->
        <div class="d-flex align-items-center mb-4">
            <img th:src="|${settingDto.profilePic != null ? '/storage/'+ settingDto.profilePic : '/storage/default/default-profile.png'}|" src="storage/default/default-profile.png"
                 class="profile-pic me-3" alt="Profile">
            <div>
                <h2 th:text="${sessionUser.username}">사용자 이름</h2>
                <p th:text="${sessionUser.userDesc}">프로필 설명</p>
                <div>
                    <input type="file" name="profilePic" class="form-control btn btn-outline-primary btn-sm mt-2" id="profilePicInput">
                </div>
            </div>
        </div>
        <!-- 프로필 설명 섹션 -->
        <div class="mb-3">
            <div class="section-title">프로필 설명</div>
            <textarea name="description" class="form-control" placeholder="프로필 설명을 입력하세요" th:field="${settingDto.description}"></textarea>
        </div>

        <!-- 블로그 제목 -->
        <div class="mb-3">
            <div class="section-title">블로그 제목</div>
            <input type="text" name="blogTitle" class="form-control" th:value="${settingDto.blogTitle}" placeholder="블로그 제목을 입력하세요">
        </div>

        <!-- 테마 설정 -->
        <div class="mb-3">
            <div class="section-title">테마 설정</div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="theme" id="lightTheme"
                       th:value="'LIGHT'"
                       th:checked="${settingDto.theme == T(com.github.jkky_98.noteJ.domain.user.ThemeMode).LIGHT}">
                <label class="form-check-label" for="lightTheme">
                    Light Mode
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="theme" id="darkTheme"
                       th:value="'DARK'"
                       th:checked="${settingDto.theme == T(com.github.jkky_98.noteJ.domain.user.ThemeMode).DARK}">
                <label class="form-check-label" for="darkTheme">
                    Dark Mode
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="theme" id="splitTheme"
                       th:value="'SPLIT'"
                       th:checked="${settingDto.theme == T(com.github.jkky_98.noteJ.domain.user.ThemeMode).SPLIT}">
                <label class="form-check-label" for="splitTheme">
                    Split Mode
                </label>
            </div>
        </div>


        <!-- 소셜 정보 -->
        <div class="mb-3">
            <div class="section-title">소셜 정보</div>
            <input type="text" name="socialEmail" class="form-control" th:value="${settingDto.socialEmail}" placeholder="소셜 이메일">
            <input type="text" name="socialGitHub" class="form-control mt-2" th:value="${settingDto.socialGitHub}" placeholder="GitHub">
            <input type="text" name="socialTwitter" class="form-control mt-2" th:value="${settingDto.socialTwitter}" placeholder="Twitter">
            <input type="text" name="socialFacebook" class="form-control mt-2" th:value="${settingDto.socialFacebook}" placeholder="Facebook">
            <input type="text" name="socialOther" class="form-control mt-2" th:value="${settingDto.socialOther}" placeholder="Other">
        </div>

        <!-- 알림 설정 -->
        <div class="mb-3">
            <div class="section-title">알림 설정</div>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="commentAlarm" th:field="${settingDto.commentAlarm}">
                <input type="hidden" name="_commentAlarm" value="on"/>
                <label class="form-check-label" for="commentAlarm">댓글 알림</label>
            </div>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="noteJAlarm" th:field="${settingDto.noteJAlarm}">
                <input type="hidden" name="_noteJAlarm" value="on"/>
                <label class="form-check-label" for="noteJAlarm">NoteJ 알림</label>
            </div>
        </div>

        <!-- 설정 적용 버튼 -->
        <div class="d-grid mt-3">
            <button type="submit" class="btn btn-outline-success">설정 적용</button>
        </div>
    </div>
</form>
</body>
</html>